global:
  # global labels will be applied to all resources deployed by the chart
  labels: {}

# -- Overrides the full-name given to the deployment resources (default: .Release.Name)
fullnameOverride: ""

image:
  repository: "registry.k8s.io/pause"
  tag: "3.9"
  # -- The image pullPolicy to use
  pullPolicy: "IfNotPresent"

# -- Map of resource constraints for the warm pods (should be set to a sufficiently high number to trigger scaling)
resources: {}
#  requests:
#    cpu: 400m

hpa:
  # -- Number of replicas to setup to manage how many warm nodes are created
  replicas: 1

# --  Node labels for pod assignment.
nodeSelector: {}

dockerconfigjson:
  # -- Name of the secret to use for the private repository
  name: "snowplow-cw-dockerhub"
  # -- Username for the private repository
  username: ""
  # -- Password for the private repository
  password: ""
  # -- Repository server URL
  server: "https://index.docker.io/v1/"
  # -- Email address for user of the private repository
  email: ""
