apiVersion: v1
kind: Service
metadata:
  name: {{ include "iglu.app.name" . }}
  labels:
    {{- include "snowplow.labels" $ | nindent 4 }}
  annotations:
  {{- if .Values.service.annotations }}
    {{- toYaml .Values.service.annotations | nindent 4 }}
  {{- end}}
spec:
  type: NodePort
  selector:
    app: {{ include "iglu.app.name" . }}
  ports:
  - name: http-port
    port: {{ .Values.service.port }}
    protocol: TCP
    targetPort: {{ .Values.service.port }}
