global:
  cloud: "aws"

service:
  deploySetupHooks: true
  port: 8080
  image:
    repository: "snowplow/iglu-server"
    tag: "0.10.0-distroless"
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 75
  terminationGracePeriodSeconds: 630

  config:
    secrets:
      superApiKey: "<uuidv4>"
    repoServer:
      maxConnections: 16384
      idleTimeout: "65 seconds"
      hsts:
        enable: true
    database:
      type: "postgres"
      host: "<host>" 
      port: 5432
      dbname: "postgres"
      secrets:
        username: "postgres"
        password: "<password>"
    patchesAllowed: false

  aws:
    targetGroupARN: "<target-group-arn>"
    deploy_rds_into_private_subnet: "<deploy_rds_into_private_subnet>"
    dev_db: "<dev_db>"
    prod_dbname: "<prod_dbname>"
    secrets:
      admin_username: "<admin_username>"
      admin_password: "<admin_password>"
