apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "aws-otel-collector.fullname" . }}
  labels:
    {{- include "aws-otel-collector.labels" . | nindent 4 }}
data:
  otel-agent-config: |
{{- if not .Values.kube_state_metrics_enabled }}
    extensions:
      health_check:

    receivers:
      awscontainerinsightreceiver:
{{- if .Values.fullPodNameMetrics }}
        add_full_pod_name_metric_label: true
{{- end }}
      prometheus/cadvisor:
        config:
          scrape_configs:
            - job_name: 'kubernetes-cadvisor'
              scheme: https
              tls_config:
                ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                insecure_skip_verify: true
              bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
              kubernetes_sd_configs:
                - role: node
              relabel_configs:
                - action: labelmap
                  regex: __meta_kubernetes_node_label_(.+)
                - target_label: __address__
                  replacement: kubernetes.default.svc:443
                - source_labels: [__meta_kubernetes_node_name]
                  regex: (.+)
                  target_label: __metrics_path__
                  replacement: /api/v1/nodes/$${1}/proxy/metrics/cadvisor
              metric_relabel_configs:
                - source_labels: [__name__]
                  regex: 'container_memory_working_set_bytes'
                  action: keep
                - source_labels: [pod]
                  regex: ''
                  action: drop
{{- if .Values.fullPodNameMetrics }}
                - source_labels: [pod]
                  target_label: pod_full
                  action: replace
{{- end }}
                - source_labels: [pod]
                  target_label: pod_short
                  action: replace
                - source_labels: [pod_short]
                  regex: '^(.*)-[a-f0-9]{5,10}-[a-z0-9]{5}$'
                  replacement: '$1'
                  target_label: pod_short
                  action: replace
                - source_labels: [pod_short]
                  regex: '^(.*)-[a-f0-9]{8,10}$'
                  replacement: '$1'
                  target_label: pod_short
                  action: replace

    processors:
      batch/metrics:
        timeout: 60s
      k8sattributes:
        auth_type: "serviceAccount"
        passthrough: false
        extract:
          metadata:
            - k8s.namespace.name
            - k8s.pod.name
            - k8s.node.name
      metricstransform/cadvisor:
        transforms:
          - include: container_memory_working_set_bytes
            match_type: strict
            action: update
            new_name: pod_memory_working_set
            aggregation_type: sum
            submatch_case: lower
            operations:
              - action: aggregate_labels
                label_set: [pod_short{{- if .Values.fullPodNameMetrics }}, pod_full{{- end }}, namespace, node]
                aggregation_type: sum
              - action: add_label
                new_label: Type
                new_value: Pod
      resource/cadvisor:
        attributes:
          - key: ClusterName
            value: "{{ .Values.clusterName }}"
            action: upsert
          - key: Namespace
            from_attribute: namespace
            action: upsert
          - key: PodName
            from_attribute: pod_short
            action: upsert
{{- if .Values.fullPodNameMetrics }}
          - key: FullPodName
            from_attribute: pod_full
            action: upsert
{{- end }}
          - key: NodeName
            from_attribute: node
            action: upsert
{{- if .Values.excludedNamespacePatterns }}
      filter/exclude_namespaces:
        error_mode: ignore
        metrics:
          metric:
{{- range .Values.excludedNamespacePatterns }}
            - 'IsMatch(resource.attributes["Namespace"], "{{ . }}")'
{{- end }}
{{- end }}
{{- if .Values.excludedPodPatterns }}
      filter/exclude_pods:
        error_mode: ignore
        metrics:
          metric:
{{- range .Values.excludedPodPatterns }}
            - 'IsMatch(resource.attributes["PodName"], "{{ . }}")'
{{- end }}
{{- end }}
      filter/include_metrics:
        metrics:
          include:
            match_type: strict
            metric_names:
              - pod_cpu_utilization
              - pod_cpu_utilization_over_pod_limit
              - pod_memory_utilization
              - pod_memory_utilization_over_pod_limit
              - pod_memory_working_set
              - pod_number_of_running_containers
              - pod_number_of_container_restarts
              - pod_cpu_reserved_capacity
              - pod_memory_reserved_capacity
              - pod_network_tx_bytes
              - cluster_node_count
              - node_cpu_utilization
              - node_memory_utilization
              - pod_container_status_terminated_reason_oom_killed
      resource/strip_attributes:
        attributes:
          - key: kubernetes
            action: delete
          - key: Sources
            action: delete
          - key: Type
            action: delete
          - key: AutoScalingGroupName
            action: delete
          - key: InstanceId
            action: delete
          - key: InstanceType
            action: delete
          - key: Version
            action: delete
          - key: Service
            action: delete

    exporters:
      awsemf:
        namespace: ContainerInsights
        log_group_name: '/aws/containerinsights/{{ .Values.clusterName }}/performance'
        log_stream_name: '{NodeName}'
        log_retention: {{ .Values.performance_log_retention_in_days }}
        resource_to_telemetry_conversion:
          enabled: true
        dimension_rollup_option: NoDimensionRollup
        {{- with .Values.tags }}
        tags:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        metric_declarations:
          - dimensions: [[PodName, Namespace, ClusterName]]
            metric_name_selectors:
              - pod_cpu_utilization
              - pod_cpu_utilization_over_pod_limit
              - pod_memory_utilization
              - pod_memory_utilization_over_pod_limit
              - pod_memory_working_set
              - pod_number_of_running_containers
              - pod_number_of_container_restarts
              - pod_cpu_reserved_capacity
              - pod_memory_reserved_capacity
              - pod_network_tx_bytes
              - pod_container_status_terminated_reason_oom_killed
{{- if .Values.fullPodNameMetrics }}
          - dimensions: [[FullPodName, Namespace, ClusterName]]
            metric_name_selectors:
              - pod_cpu_utilization
              - pod_cpu_utilization_over_pod_limit
              - pod_memory_utilization
              - pod_memory_utilization_over_pod_limit
{{- end }}
          - dimensions: [[ClusterName]]
            metric_name_selectors:
              - cluster_node_count
              - node_cpu_utilization
              - node_memory_utilization

    service:
      pipelines:
        metrics:
          receivers: [awscontainerinsightreceiver]
          processors: [{{- if .Values.excludedNamespacePatterns }}filter/exclude_namespaces, {{- end }}{{- if .Values.excludedPodPatterns }}filter/exclude_pods, {{- end }}filter/include_metrics, resource/strip_attributes, batch/metrics]
          exporters: [awsemf]
        metrics/cadvisor:
          receivers: [prometheus/cadvisor]
          processors: [metricstransform/cadvisor, resource/cadvisor{{- if .Values.excludedNamespacePatterns }}, filter/exclude_namespaces{{- end }}{{- if .Values.excludedPodPatterns }}, filter/exclude_pods{{- end }}, batch/metrics]
          exporters: [awsemf]

      extensions: [health_check]
{{- else }}
    extensions:
      health_check:

    receivers:
      awscontainerinsightreceiver:
{{- if .Values.fullPodNameMetrics }}
        add_full_pod_name_metric_label: true
{{- end }}
      prometheus/cadvisor:
        config:
          scrape_configs:
            - job_name: 'kubernetes-cadvisor'
              scheme: https
              tls_config:
                ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                insecure_skip_verify: true
              bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
              kubernetes_sd_configs:
                - role: node
              relabel_configs:
                - action: labelmap
                  regex: __meta_kubernetes_node_label_(.+)
                - target_label: __address__
                  replacement: kubernetes.default.svc:443
                - source_labels: [__meta_kubernetes_node_name]
                  regex: (.+)
                  target_label: __metrics_path__
                  replacement: /api/v1/nodes/$${1}/proxy/metrics/cadvisor
              metric_relabel_configs:
                - source_labels: [__name__]
                  regex: 'container_memory_working_set_bytes'
                  action: keep
                - source_labels: [pod]
                  regex: ''
                  action: drop
{{- if .Values.fullPodNameMetrics }}
                - source_labels: [pod]
                  target_label: pod_full
                  action: replace
{{- end }}
                - source_labels: [pod]
                  target_label: pod_short
                  action: replace
                - source_labels: [pod_short]
                  regex: '^(.*)-[a-f0-9]{5,10}-[a-z0-9]{5}$'
                  replacement: '$1'
                  target_label: pod_short
                  action: replace
                - source_labels: [pod_short]
                  regex: '^(.*)-[a-f0-9]{8,10}$'
                  replacement: '$1'
                  target_label: pod_short
                  action: replace
      prometheus:
        config:
          global:
            scrape_interval: 1m
            scrape_timeout: 10s
          scrape_configs:
            - job_name: kube-state-metrics
              honor_timestamps: true
              scrape_interval: 1m
              scrape_timeout: 1m
              metrics_path: /metrics
              scheme: http
              static_configs:
                - targets:
                  - prometheus-kube-state-metrics.monitoring.svc.cluster.local:8080
                  labels:
                    cluster_name: {{ .Values.clusterName }}
              metric_relabel_configs:
                - source_labels: [__name__]
                  regex: "^kube_deployment_status_replicas_ready$"
                  action: keep

    processors:
      batch/metrics:
        timeout: 60s
      k8sattributes:
        auth_type: "serviceAccount"
        passthrough: false
        extract:
          metadata:
            - k8s.namespace.name
            - k8s.pod.name
            - k8s.node.name
      metricstransform/cadvisor:
        transforms:
          - include: container_memory_working_set_bytes
            match_type: strict
            action: update
            new_name: pod_memory_working_set
            aggregation_type: sum
            submatch_case: lower
            operations:
              - action: aggregate_labels
                label_set: [pod_short{{- if .Values.fullPodNameMetrics }}, pod_full{{- end }}, namespace, node]
                aggregation_type: sum
              - action: add_label
                new_label: Type
                new_value: Pod
      resource/cadvisor:
        attributes:
          - key: ClusterName
            value: "{{ .Values.clusterName }}"
            action: upsert
          - key: Namespace
            from_attribute: namespace
            action: upsert
          - key: PodName
            from_attribute: pod_short
            action: upsert
{{- if .Values.fullPodNameMetrics }}
          - key: FullPodName
            from_attribute: pod_full
            action: upsert
{{- end }}
          - key: NodeName
            from_attribute: node
            action: upsert
{{- if .Values.excludedNamespacePatterns }}
      filter/exclude_namespaces:
        error_mode: ignore
        metrics:
          metric:
{{- range .Values.excludedNamespacePatterns }}
            - 'IsMatch(resource.attributes["Namespace"], "{{ . }}")'
{{- end }}
{{- end }}
{{- if .Values.excludedPodPatterns }}
      filter/exclude_pods:
        error_mode: ignore
        metrics:
          metric:
{{- range .Values.excludedPodPatterns }}
            - 'IsMatch(resource.attributes["PodName"], "{{ . }}")'
{{- end }}
{{- end }}
      filter/include_metrics:
        metrics:
          include:
            match_type: strict
            metric_names:
              - pod_cpu_utilization
              - pod_cpu_utilization_over_pod_limit
              - pod_memory_utilization
              - pod_memory_utilization_over_pod_limit
              - pod_memory_working_set
              - pod_number_of_running_containers
              - pod_number_of_container_restarts
              - pod_cpu_reserved_capacity
              - pod_memory_reserved_capacity
              - pod_network_tx_bytes
              - cluster_node_count
              - node_cpu_utilization
              - node_memory_utilization
              - pod_container_status_terminated_reason_oom_killed
      resource/strip_attributes:
        attributes:
          - key: kubernetes
            action: delete
          - key: Sources
            action: delete
          - key: Type
            action: delete
          - key: AutoScalingGroupName
            action: delete
          - key: InstanceId
            action: delete
          - key: InstanceType
            action: delete
          - key: Version
            action: delete
          - key: Service
            action: delete
      resourcedetection/ec2:
        detectors: [ env ]
        timeout: 2s
        override: false
      resource:
        attributes:
          - key: TaskId
            from_attribute: service.name
            action: insert
          - key: receiver
            value: "prometheus"
            action: insert

    exporters:
      awsemf:
        namespace: ContainerInsights
        log_group_name: '/aws/containerinsights/{{ .Values.clusterName }}/performance'
        log_stream_name: '{NodeName}'
        log_retention: {{ .Values.performance_log_retention_in_days }}
        resource_to_telemetry_conversion:
          enabled: true
        dimension_rollup_option: NoDimensionRollup
        {{- with .Values.tags }}
        tags:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        metric_declarations:
          - dimensions: [[PodName, Namespace, ClusterName]]
            metric_name_selectors:
              - pod_cpu_utilization
              - pod_cpu_utilization_over_pod_limit
              - pod_memory_utilization
              - pod_memory_utilization_over_pod_limit
              - pod_memory_working_set
              - pod_number_of_running_containers
              - pod_number_of_container_restarts
              - pod_cpu_reserved_capacity
              - pod_memory_reserved_capacity
              - pod_network_tx_bytes
              - pod_container_status_terminated_reason_oom_killed
{{- if .Values.fullPodNameMetrics }}
          - dimensions: [[FullPodName, Namespace, ClusterName]]
            metric_name_selectors:
              - pod_cpu_utilization
              - pod_cpu_utilization_over_pod_limit
              - pod_memory_utilization
              - pod_memory_utilization_over_pod_limit
{{- end }}
          - dimensions: [[ClusterName]]
            metric_name_selectors:
              - cluster_node_count
              - node_cpu_utilization
              - node_memory_utilization

      awsemf/prometheus:
        namespace: ContainerInsights/Prometheus
        log_group_name: '/aws/containerinsights/{{ .Values.clusterName }}/{TaskId}/prometheus'
        log_stream_name: "{TaskId}"
        log_retention: {{ .Values.prometheus_log_retention_in_days }}
        resource_to_telemetry_conversion:
          enabled: true
        dimension_rollup_option: NoDimensionRollup
        {{- with .Values.tags }}
        tags:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        metric_declarations:
        - dimensions: [[ namespace, deployment, cluster_name ]]
          metric_name_selectors:
            - "^kube_deployment_status_replicas_ready$"
          label_matchers:
            - label_names:
                - service.name
              regex: ^kube-state-metrics$

    service:
      pipelines:
        metrics:
          receivers: [awscontainerinsightreceiver]
          processors: [{{- if .Values.excludedNamespacePatterns }}filter/exclude_namespaces, {{- end }}{{- if .Values.excludedPodPatterns }}filter/exclude_pods, {{- end }}filter/include_metrics, resource/strip_attributes, batch/metrics]
          exporters: [awsemf]
        metrics/cadvisor:
          receivers: [prometheus/cadvisor]
          processors: [metricstransform/cadvisor, resource/cadvisor{{- if .Values.excludedNamespacePatterns }}, filter/exclude_namespaces{{- end }}{{- if .Values.excludedPodPatterns }}, filter/exclude_pods{{- end }}, batch/metrics]
          exporters: [awsemf]
        metrics/prometheus:
          receivers: [prometheus]
          processors: [resourcedetection/ec2, resource]
          exporters: [awsemf/prometheus]

      extensions: [health_check]
{{- end }}
